[submodule "1-turtlebot/src/turtlebot3"]
	path = 1-turtlebot/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = foxy-devel
[submodule "1-turtlebot/src/turtlebot3_msgs"]
	path = 1-turtlebot/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
	branch = foxy-devel
[submodule "1-turtlebot/src/turtlebot3_simulations"]
	path = 1-turtlebot/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = foxy-devel
